@font-face {
    font-family: 'Roboto';
    src: url("./font/Roboto\ Font.ttf");
}

body{
    font-family: 'Roboto','Courier New', Courier, monospace;
    text-decoration: none;
    margin: 0;
}
a{
    text-decoration: none;
}


.section1{
    color: white;
    margin: 0px;
    padding: 12px;
    box-sizing: border-box;
    align-items: center;
    background-color: #1f2937;
    flex-direction: column;
}

.header{
    color: white;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

.rightSide{
    display: flex;
    justify-content: space-evenly;
    gap: 12px
}

.link{
    color: white;
}

.body{
    padding: 160px;
    display: flex;
    justify-content: center;
    align-items:stretch;
    gap: 32px; 
    flex:1;

}

.body img{
    width: 480px;
    height: 260px;
    border-radius: 24px;
}

.body button{
    background-color: #3882f6;
    color: #1f2937;
    font-weight: bold;
    padding: 12px;
    border:0;
    border-radius: 24px;
}

.body .leftTextList{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
    text-wrap: wrap;
}

.body h2{
    font-weight: bold;
}

.section2{
    color: #1f2937;
    padding: 32px;
    gap:60px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.section2 .playlists{
    display: flex;
    gap: 80px;
    flex:0;
    flex-basis:auto;
    justify-content: space-around;
    font-weight: 100;
    color: #1f2937;
}


.section2 .playlists .bundle{
    display: flex;
    gap:40px;
    flex-direction: column;
    align-items: baseline;
}

.playlists iframe{
    width: 280px;
    height: 360px;
}

#bold{
    font-weight: bold;
    font-style: initial;
}

.section3{
    display: flex;
    background-color: #E5E7Eb;
    justify-content: center;
    padding: 205px 85px;
    font-size: 36px;
    font-style:italic;
    color:#1f2937;
}

.section4{
    display:flex;
    justify-content: center;
    padding: 72px;
}

.section4 .signUpWindow{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #3882f6;
    color: white;
    border-radius: 12px;
    justify-content: space-between;
    padding: 24px;
    width: 720px
}

.section4 .signUpWindow .signUpButton{
    flex:initial;
    background-color: #3882f6;
    border-color: white;
    color: white;
    border-width:1px;
    padding: 2px 8px ;
    border-radius: 12px;
}
.footer{
    display:flex;
    justify-content: center;
    padding: 12px;
    color: white;
    background-color: #1f2937;
}