@font-face {
    font-family: 'Roboto';
    src: url("./font/Roboto\ Font.ttf");
}

body{
    font-family: 'Roboto','Courier New', Courier, monospace;
    text-decoration: none;
    margin: 0;
}
a{
    text-decoration: none;
}


.section1{
    color: white;
    margin: 0px;
    padding: 12px;
    box-sizing: border-box;
    align-items: center;
    background-color: #1f2937;
    flex-direction: column;
}

.header{
    color: white;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

.rightSide{
    display: flex;
    justify-content: space-evenly;
    gap: 12px
}

.link{
    color: white;
}

.body{
    padding: 160px;
    display: flex;
    justify-content: center;
    align-items:stretch;
    gap: 32px; 
    flex:1;

}

.body img{
    width: 480px;
    height: 260px;
    border-radius: 24px;
}

.body button{
    background-color: #3882f6;
    color: #1f2937;
    font-weight: bold;
    padding: 12px;
    border:0;
    border-radius: 24px;
}

.body .leftTextList{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
    text-wrap: wrap;
}

.body h2{
    font-weight: bold;
}

.section2{
    color: #1f2937;
    padding: 32px;
    gap:60px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section2 .playlists{
    display: flex;
    gap: 60px;
    flex:0;
    flex-basis:auto;
    justify-content: space-around;
}

.playlists iframe{
    width: 280px;
    height: 360px;
}


